.footer {
  padding: 8rem;
  grid-column: full-start / full-end;
  background-color: $color-secondary;
}

.nav {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-items: center;
  gap: 2rem;
  
  &__link:link,
  &__link:visited {
    display: block;
    color: #fff;
    padding: 1.5rem;
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    transition: all 200ms;
    text-transform: uppercase;
    font-family: $font-display;
  }

  &__link:hover,
  &__link:active {
    transform: translateY(-3px);
    background-color: rgba(#fff, 0.05);
  }
}

.copyright {
  margin-top: 6rem;
  font-size: 1.4rem;
  text-align: center;
  color: $color-grey-light-2;
}